.sidebar {
  flex: 2;
  height: calc(100vh-50px);
  top: 50px;
  overflow-y: scroll;
  top: 50px;
}

.sidebar::-webkit-scrollbar {
  width: 10px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.sidebarWrapper {
  padding: 15px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarFriendHeading {
  display: block;
  margin: 0;
  font-weight: 500;
  text-align: center;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebarListItem:hover {
  background-color: lightblue;
  border-radius: 15px;
}

.sidebarIcon {
  margin-right: 10px;
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 550;
  cursor: pointer;
}

.sidebarHr {
  margin: 20px 0px;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}
